#board {
    -fx-background-color:  #cccccc;
    -fx-border-color: #000;
}

VBox {
    /*-fx-border-color: aqua;*/
    /*-fx-border-radius: 1px;*/
}

HBox {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    /*-fx-border-color: fuchsia;*/
    /*-fx-border-radius: 1px;*/
}

#blank {
    /*-fx-background-color: #cccccc;*/
}

#x, #o {
    /*-fx-border-color: #000;*/
    -fx-background-size: 100px 100px;
    -fx-min-height: 100;
    -fx-min-width: 100;
}

#x {-fx-background-image: url('x.png'); }
#o {-fx-background-image: url('o.png'); }

#start, #new_x, #new_o, #load {
    /*-fx-background-size: 200px 75px;*/
    /*-fx-min-height: 100;*/
    /*-fx-min-width: 200;*/
}

#start {    -fx-background-image: url('start.png'); }
#invite {   -fx-background-image: url('invite.png'); }

#new_x {    -fx-background-image: url('new_x.png'); }
#new_o {    -fx-background-image: url('new_o.png'); }
#load {     -fx-background-image: url('load.png'); }

#name {     -fx-background-image: url('name.png'); }
#against {  -fx-background-image: url('against.png'); }

#new, #save {
    -fx-background-size: 150px 75px;
    -fx-min-height: 100;
    -fx-min-width: 150;
}

#new {      -fx-background-image: url('new.png'); }
#save {     -fx-background-image: url('save.png'); }
